button {
    border-color:white;
    color: white;
    background-color: #3DB264;    
    border: 0;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 600;
    padding: 12.5px 34px;
    line-height: 1;
    text-transform: uppercase;
    cursor: pointer;
  
  }
  
  button:hover {
    border-color: #323232;
    color: #323232;
    background-color: white;
  }
  button + button{
    margin-left:35px;
  }
  button+button+button{
    margin:0px;
  }
  button:disabled {
      
      border: 1px solid white;
      color: white;
      background-color: #323232;
     }
  input[type=password]{
    -webkit-text-security: square !important;
  }
  .redButton{
    border-color: #ad1e23;
    color: white;
    background-color: transparent;
    border: 1px solid #ad1e23;
    background-color: #ad1e23;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 600;
    padding: 12.5px 34px;
    line-height: 1;
    text-transform: uppercase;
    cursor: pointer;
  }
  .redButton:hover {
    border-color: #ad1e23;
    border: 1px solid #ad1e23;
    color: #ad1e23;
    background-color: white;
  }
.inputCard{
    margin:50px auto;
    width:40%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
    padding:50px;
}
.inputCard >form>h3{
    font-size: 1.25rem;
    color: white;
    /* margin-bottom: 1.5rem; */
    font-weight: 700;
}
.inputCard > h2{
    color: white;
    font-size: .8rem;
    font-weight: 700;
}
.label{
    color: white;
    font-size: .8rem;
    font-weight: 700;
}
.passwordDiv form>div:nth-child(2),.passwordDiv form>div:nth-child(3){
    display: flex;
    margin:50px auto;
}
.react-datepicker__header__dropdown--scroll{
  display: flex;
  justify-content: space-evenly;
}
.react-datepicker__input-container input{
  color:white;
  font-size: 18px;
  padding: 10px;
}