.navbarContainer{
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 5px 13px -8px rgb(93 91 91 / 75%);
    width: 100%;
    position: fixed;
    top:0;
    height: 60px;
    padding: 0.75rem 0;
    overflow: hidden;
    background-color: white;
    z-index: 999;
}
.navbarContainer img{
    padding-right: 100px;
}