.container {
    width: 90%;
    margin:auto;
  }

  .container img{
    width: 30px;
    object-fit: contain;
    
  }
  .container p{
    text-align: center;
  }
  
  .step {
    padding: 10px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    background-color: cream;
  }
  
  .vstepper {
    position: relative;
    /*   visibility: visible; */
  }
  
  /* regular step */
  .step .circle {
    background-color: white;
    border: 1px solid white;
    border-radius: 100%;
    width: 10px; /* +6 for border */
    height: 10px;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step .line {
    top: 15px;
    left: 6px;
    /*   height: 120px; */
    height: 109%;
  
    position: absolute;
    border-left: 1px solid white;
    opacity: 0.5;
  }
  
  .step.completed .circle {
    visibility: visible;
    background-color: white;
    border-color: white;
    opacity: 1;
  }
  
  .step.completed .line {
    border-left: 2px solid white;
    opacity: 1;
  }
  
  .step.active .circle {
    visibility: visible;
    border-color: white;
    opacity: 1;
  }
  
  .step.empty .circle {
    visibility: hidden;
  }
  
  .step.empty .line {
    /*     visibility: hidden; */
    /*   height: 150%; */
    top: 0;
    height: 150%;
  }
  
  
  
  .content {
    margin-left: 20px;
    display: inline-block;
  }
  
 